<div class="fn-body grid-x grid-padding-x align-center-middle">
  <div class="cell small-12 medium-8 large-6">
    <div class="grid-x">
      <div class="cell small-12">
        <h2>Computer:</h2>
        <h3>Is it ok to pop a child's balloon?</h3>
      </div>
      <div class="cell small-12">
        &nbsp;
      </div>
      <div class="cell small-12">
        <h2>Your answer:</h2>
        <input #myField type="text" (keydown)="keys($event)">
        <small>Min. length 10 characters.</small>
      </div>
      <div class="cell small-12">
        &nbsp;
      </div>
      <div class="cell small-12 text-right">
        <button class="button success" routerLink="/second">Next</button>
      </div>
    </div>
  </div>
</div>